{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}" >
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.created_date|date:"F d, Y" }}</small>
            
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <hr>
          {% if object.post_image %}
        <img class="img-fluid rounded mb-3" src="{{object.post_image.url}}" alt="">

      {% endif %}
          <p class="article-content">{{ object.content }}</p>
          <hr>
          {% if object.author == user %}
                <a class="btn btn-secondary btn-sm" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
      </article>

      



      
    {% endblock content %}