{% extends 'base.html'  %}

{% block body %}
{% if txtName %}
<center>
	<h2>Thanks {{txtName}}</h2>
	<p>We received your email and will respond shortly.</p>
</center>
<br><br><br>
{% else %}

<br><br><br>
<div id="fh5co-contact" class="fh5co-section animate-box">
	<div class="container">
		<form action="#">
			<div class="row">
				<div class="col-md-6">
					<h3 class="section-title">Our Address -{{txtName}}</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>Boğaziçi University|Management Information System  İstanbul/Turkey</li>
						<li><i class="icon-phone2"></i>+ 1235 2355 98</li><br>
						<li><i class="icon-mail"></i><a href="#">back2future@gmail.com</a></li><br>
						<li><i class="icon-globe2"></i><a href="#">www.back2future.com</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<form method="POST" action="{% url 'website-contact' %}">
						{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							
							<div class="form-group">
								<input type="text" name="txtName" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="txtEmail" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" name="txtMsg"  cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-lg">
							</div>
						</div>
					</div>
				</form>
				</div>
			</div>
		</form>
	</div>
</div>
{% endif %}
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->
{% endblock body %}
{% load static %}