
    <div id="fh5co-header">
        <header id="fh5co-header-section">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="static/website/js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                    <h1 id="fh5co-logo"><a href="{% url 'website-home' %}">Travelly</a></h1>
                    <!-- START #fh5co-menu-wrap -->
                    <nav id="fh5co-menu-wrap" role="navigation">
                        <ul class="sf-menu" id="fh5co-primary-menu">
                            <li class="active">
                                <a href="{% url 'website-home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'website-guide' %}" class="fh5co-sub-ddown">Guide</a>
                                
                            </li>
                            <li>
                                <a href="{% url 'blog-home' %}" class="fh5co-sub-ddown">Blog</a>
                            </li>
                            <li><a href="{% url 'website-about' %}">About</a></li>
                            <li><a href="{% url 'website-contact' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    
    
    <div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(static/website/images/cover_bg_1.jpg);">
            <div class="desc animate-box">
                <h2>Travel Around The World.</h2>
                <!-- <span>Lovely Crafted by <a href="#" target="_blank" class="fh5co-site-name">Back2Future</a></span> -->
                <span><a class="btn btn-primary btn-lg" href="{% url 'website-guide' %}">Get Started</a></span>
            </div>
        </div>

    </div>		

    
                <!-- END 3 row -->

